
RewriteEngine on
RewriteCond %{HTTP_HOST} ^volunteer\.swinanime\.net$ [OR]
RewriteCond %{HTTP_HOST} ^www\.volunteer\.swinanime\.net$
RewriteCond %{REQUEST_URI} !^/[0-9]+\..+\.cpaneldcv$
RewriteCond %{REQUEST_URI} !^/\.well-known/pki-validation/[A-F0-9]{32}\.txt(?:\ Comodo\ DCV)?$
RewriteRule ^/?$ "https\:\/\/goo\.gl\/forms\/nnAnnnwcKBXBBt892" [R=301,L]

